<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Is Occupied</th>
      <th scope="col">Flight Code</th>
      <th scope="col">Company Name</th>
      <th scope="col">Plane Model</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let leg of legsStatus">
      <th scope="row">Leg {{ leg.legNumber }}</th>
      <td>{{ leg?.isOccupied }}</td>
      <td>{{ leg?.flight?.code }}</td>
      <td>{{ leg?.flight?.plane?.company?.name }}</td>
      <td>{{ leg?.flight?.plane?.model }}</td>
    </tr>
  </tbody>
</table>
