<table class="table">
  <thead>
    <tr>
      <th (click)="procLogSort('id')" scope="col">#</th>
      <th (click)="flightSort('code')" scope="col">Flight Code</th>
      <th (click)="companySort('name')" scope="col">Comapny Name</th>
      <th (click)="companySort('country')" scope="col">Company Country</th>
      <th scope="col">Plane Model</th>
      <th (click)="planeSort('passangerCount')" scope="col">
        Passangers Amount
      </th>
      <th (click)="pilotSort('firstName')" scope="col">Pilot Full Name</th>
      <th scope="col">Pilot Rank</th>
      <th scope="col">Leg Number</th>
      <th (click)="procLogSort('enterTime')" scope="col">Entering Time</th>
      <th (click)="procLogSort('exitTime')" scope="col">Exit Time</th>
      <th scope="col">Message</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let log of procLogs">
      <th scope="row">{{ log.id }}</th>
      <td>{{ log?.flight?.code }}</td>
      <td>{{ log?.flight?.plane?.company?.name }}</td>
      <td>{{ log?.flight?.plane?.company?.country }}</td>
      <td>{{ log?.flight?.plane?.model }}</td>
      <td>{{ log?.flight?.plane?.passangerCount }}</td>
      <td>
        {{ log?.flight?.pilot?.firstName }} {{ log?.flight?.pilot?.lastname }}
      </td>
      <td>{{ log?.flight?.pilot?.rank }}</td>
      <td>{{ log?.legNumber }}</td>
      <td>{{ log?.enterTime | dateFormatPipe }}</td>
      <td>{{ log?.exitTime | dateFormatPipe }}</td>
      <td>{{ log?.message }}</td>
    </tr>
  </tbody>
</table>

